altgraph==0.17
certifi==2020.6.20
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.10
influxdb==5.3.0
jdcal==1.4.1
macholib==1.14
modulegraph==0.18
msgpack==0.6.1
numpy==1.19.4
openpyxl==3.0.5
pandas==1.1.4
py2app==0.22
PyInstaller==3.6
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.9
xlrd==1.2.0